.event-tabs-holder {
  display: flex;
  margin-top: 1em;
  .tab {
    display: flex;
    align-items: center;
    padding: 0.5em;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
    &.active {
      border-bottom: none;
      cursor: default;
    }
    .event-type {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .close-btn {
      white-space: nowrap;
      cursor: pointer;
      padding: 0.1em;
      margin-left: 0.1em;
      background-color: #f44336;
      color: #ffffff;
      border: 1px solid #f44336;
      border-radius: 50%;
    }
  }
}
